body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: black;
	line-height: 22px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* Heading 1 */
h1{
	position:relative; 
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	font-size: 200%;
	padding-bottom: 13px;
	color: olive;
}

/* Website logo/title */
h1#friend{
	position:relative; 
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	font-size: 280%;
	color: #ff0066;
	padding-bottom: 13px;
}

/* Home page */
.home{
	font-size: 150%;
	color: black;
}

.student{
	margin-left: 120px;
	font-size: 100%;
}

.tosignup{
	font-size: 135%;
	font-weight: bold;
	margin-left: 70px;
}

.tologin{
	font-size: 135%;
	font-weight: bold;
	margin-left: 70px;
}

.toabout{
	font-size: 135%;
	font-weight: bold;
	margin-left: 70px;
}

.link{
	text-align: center;
}

/* Form */
form
{
	position:relative;  
	font-family: arial, sans-serif;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	font-size: 15px;
}
	
span{
	font-size: 18px;
}

span.backtohome{
	font-weight: bold;
}

input[type=submit] {
    width: 7em;  
	height: 3em;
	margin-left: 5px;
	font-size: 13px;
	font-weight: bold;
}

/* Friendlist Page */
.friendadd{
	font-size: 135%;
	font-weight: bold;
}

/* Friendadd Page */
.friendlist{
	font-size: 135%;
	font-weight: bold;
}

/* Table */
table{
	margin-left: auto;
	margin-right: auto;	
	width: 50%;
	height: 130px;
}

td{
	border: ridge;
	border-width: 6px;
	border-color: grey;
	font-size: 24px;
}


td.name{
	font-size: 24px;
	text-align: left;
	margin-left: 270px;
	margin-right: 70px;
}

a.unfriendbutton{
	background-color: red;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-left: 200px;		
	cursor: pointer;
}

a.addfriendbutton{
	background-color: green;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-left: 200px;		
	cursor: pointer;
}

/* Total Friends Statement */
.total{
	font-size: 130%;
	color: black;
	text-align: center;
	font-weight: bold;
}

/* Log Out */
.logout{
	font-size: 135%;
	font-weight: bold;
	margin-left: 70px;
}


input[type=reset] {
    width: 7em;  
	height: 3em;
	margin-left: 15px;
	font-size: 13px;
	font-weight: bold;
}

/* About Page */
.about{
	font-size: 22px;
}

.ans{
	margin-left: 20px;
	list-style-type: none;
	color: red;
}
	
/* Navigation Bar */
nav {
	text-align: center;
	font-family: font-family: 'Comfortaa', sans-serif;
	background-color: #F0F0F0;
}

nav ul {
	list-style-type: none;
}

nav>ul>li {
	display: inline-block;
}

nav>ul>li>a {
	font-weight: bold;
	font-size: 110%;
	text-transform: uppercase;
	text-decoration: none;
	color: #101010;
	margin: 0px 45px;
	display: block;
	position: relative;
}

nav>ul>li>a::before {
	transition: 80ms;
	height: 2px;
	content: "";
	position: absolute;
	background-color: red;
	width: 100%;
	bottom: 1px;
	opacity: 0;
}

nav>ul>li>a:hover::before {
	bottom: 3px;
	opacity: 1;
}

nav>ul>li>a:hover{
	color: red;
}

/* Breadcrumb */
.breadcrumb {
	text-align: center;
	font-size: 13px;
	display: block;
	margin-bottom: 30px;
}

.breadcrumb span {
	font-size: 15px;
	font-weight: bold;
}

.breadcrumb a {
	color: black;
	opacity: 0.6;
	text-decoration: none;
}

.breadcrumb a:hover {
	color: blue;
	opacity: 1;
}

/* Footer */
footer {
	margin-top: 30px;
	padding-top: 10px;
	background-color: #F5F5F5;
	text-align: center;
}